# Object files
*.o
*.ko
*.obj
*.elf
*.o.cmd
*.ko.cmd

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.mod.c
tools/bin2h
.tmp_versions
os/linux/Makefile
os/linux/Module.symvers
os/linux/modules.order
